
<div class="jumbotron">
  <h1 class="display-4">My Blog!</h1>
  <p class="lead">This is my blog. There's not much point to it, but my own meandering mumbo jumbo.</p>
  <hr class="my-4">
  <p>This is mostly just a practice app, but then I thought, "Hey, why not write some stuff down."</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up!</a>
  </p>
</div>