
  <footer class="footer">
    <small>
      Copyright 2018 &copy; Blogblogblog by Jeremiah Barro
    </small>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', pages_about_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
      </ul>
    </nav>
  </footer>